.navbarMainContainer{
    margin: 0;
    padding: 0;
    height: 6vh;
    width: 100vw;
    background-color: rgba(3, 15, 15, 0.875);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#f0f8ff;
    font-size: large;

    .navbarLinkContainer{
        display: flex;
        flex-direction: row;
        width: 450px;
    }
}
.navbarLink{
    margin:auto;
    width: 20%;
    text-align: center;
}