.navbarMainContainer{
    margin: 0;
    padding: 0;
    min-height: 6vh;
    /* height: 6vh; */
    width: 100%;
    background-color: rgba(3, 15, 15, 0.875);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#f0f8ff;
    font-size: large;

    .navbarLinkContainer{
        display: flex;
        flex-direction: row;
        width: 450px;
    }
}
.navbarLink{
    margin:auto;
    width: 30%;
    text-align: center;
}