.postMainContainer{
    border: 1px solid black;
    max-width: 60%;
    min-width: 60%;
    padding: 2%;
    /* margin-right: auto; */
    margin-top: 1%;    
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
    .titleContainer{
        font-size: 2rem;
        padding: 3px;
    }
    .bodyContainer{
        font-size: 1.3rem;
        padding: 10px;
    }
    .authorContainer{
        font-size: 1rem;
        font-style: italic;
    }
}