.postMainContainer{
    border: 1px solid black;
    max-width: 60%;
    min-width: 60%;
    padding: 2%;
    /* margin-right: auto; */
    box-shadow: -5px 5px 0px black;
    margin-top: 3%;    
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    .headerContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2rem;
        .titleContainer{
            padding: 3px;
        }
        .deleteButtonContainer{
            cursor: pointer;
            font-weight: 100;
            opacity: 40%;
        }
    }
    .bodyContainer{
        font-size: 1.3rem;
        padding: 10px;
        font-size: 1.3rem;
        padding: 10px;
        word-wrap: break-word;
        height: auto;
        max-height: 400px;
        width: auto;
        overflow: hidden;
        overflow-y: auto;
    }
    .authorContainer{
        font-size: 1rem;
        font-style: italic;
        opacity: 70%;
    }
}

@media screen and (min-width:481px) and (max-width:778px){
    .postMainContainer{
        .headerContainer{
            font-size: 2rem;
        }
    }
}

@media screen and (max-width:480px){
    .postMainContainer{
        .headerContainer{
            font-size: 1.5rem;
        }
        .bodyContainer{
            font-size: 1rem;
        }
    }
}